<div class = "container">
	<div class = "row">
		<h1 class="text-md-right text-secondary">Apple Store</h1>
We open up a whole new lifestyle for everyone, offering the newest and most innovative tools for business and creativity.

In our salon there are always the latest digital technologies that will make your life as comfortable as possible, giving pleasure both from work and from entertainment. The Apple products presented on our website are not just appliances, they are a work of art, perfect, convenient and functional appliances. We regularly develop and improve, which allows us to satisfy any needs of our customers even better, thereby making their dreams and desires come true.

The Lime Store offers a wide range of the most innovative digital technology, including new iPhone models  , Apple Watch smartwatches, iPad tablets, Macbooks, iMac desktops, and a wide range of accessories for leisure, work and creativity.

We truly value what we do. Every day we convey our love to all our customers, inspiring them to buy that can change their lives for the better.

We are not talking about the price, we are talking about the dream! We make luxury affordable because we value you!
 <div>
</div>