<% @products.each do |product| %> 
	  <div class = "col-sm-4 product">
	  	<div class = "card card-focus">
		    <%= image_tag(product.image, width: "226", alt: "Image", class: "card-img-top mx-auto d-block") %><br>
		    <div class="card-body text-secondary">
          <%= link_to truncate(product.name, length: 70, separator: '.'), product_path(product)%>
          <br>
          <br>
          <%= product.price %> <i class = "fas fa-hryvnia"></i>

          <a href="#" class="card-icon-select"><i class = "fa fa-shopping-cart cart-icon"></i>Buy</a>
          <div class = "characteristic">
          	<hr>
          	<%= product.characteristic %><br>
          </div>
        </div>
       </div>
	  </div>
<% end %>
