      <div class = "row navmenu"> 
      	<% Category.where(parent_id: nil).each do |category| %>
          <div class="dropdown show">
        	  <a class="nav-link font-weight-bold" href="/search?category=<%= category.name%>" id="dropdownMenuLink"><%= category.name %></a>
        	    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        	      <% category.subcategories.each do |sub|%>
        	  	    <a class="dropdown-item" href="/search?sub=<%= URI.escape(sub.name , '+') %>" value = ""><%= sub.name %></a> 
        	  	  <% end %>
        	    </div>
          </div>
        <% end %>
      </div>